/* Remove the navbar default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  /* Remove the jumbotron default bottom margin */
   .jumbotron {
    height: 400px;
    margin-bottom: 0;
  }
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 100px;
  }
  
  * {box-sizing: border-box;}

  .img-zoom-container {
    position: relative;
  }

  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 80px;
    height: 80px;
  }

  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 400px;
    height: 300px;
  }

  /* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .panel-footer {
    background-color: white;
}
